{% load static %}

{% block contenido %}
<div role="alert">
    <table class="table table-bordered alert alert-warning">
        <thead>
            <tr scope="row" class="text-center"><td colspan="3" style="font-weight: bold; font-size: 18px;"> Carrito </td></tr>
            <td style="font-size: 15px; font-weight: bold; color: black; text-align: center;">Nombre</td>
            <td style="font-size: 15px; font-weight: bold; color: black; text-align: center;">Precio</td>
            <td style="font-size: 15px; font-weight: bold; color: black; text-align: center;">Cantidad</td>
        </thead>
        <tbody>
            {% if request.session.carrito.items %}
                {% for key, pro in request.session.carrito.items %}
                    <tr>
                        <td style="font-size: 13px;">{{ pro.nombre}}</td>
                        <td style="font-size: 13px;">{{ pro.precio}}</td>
                        <td style="font-size: 13px;">{{ pro.cantidad}}
                        <br>
                        <a href="{% url 'agregar' key %}" class="badge btn btn-primary">+</a>
                        <a href="{% url 'restar' key %}" class="badge btn btn-primary">-</a>
                        </td>    
                    </tr>
                    <tr>
                        <th scope="row">Total: </th>
                        <td colspan="2">$ {{pro.total}}</td>
                    </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">
                    <div class="alert alert-info text-center" style="font-weight: bold;">Sin productos</div>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
<div class="row text-center">
    <div class="col 6">
        <a href="{% url 'limpiar' %}" class="btn btn-warning" style="color: black;">Limpiar</a>
    </div>
    {% if user.is_authenticated %}
        <div class="col 6">
            <a href="{% url 'generarBoleta' %}" class="btn btn-primary" style="color: black;">Comprar</a>
        </div>
    {% else %}
        <div class="col 6">
            <a href="#" class="btn btn-secondary" style="color: black;">Debe estar logeado para comprar</a>
        </div>
    {% endif%}
</div>

{% endblock contenido %}