{% extends "base.html" %}

{% load static %}

{% block contenido %}
<body>
    <div class="container" style="background-color: white;">
        <h3>Detalle de compra</h3><br><h6>Fecha: {{ fecha }}</h6>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Codigo boleta</th>
                    <th>Codigo producto</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for pro in productos %}
                <tr>
                    <td>{{ pro.idBoleta }}</td>
                    <td>{{ pro.id_producto }}</td>
                    <td>{{ pro.cantidad }}</td>
                    <td>{{ pro.subtotal }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <hr>
            <tr><td><h6>Total compra: {{ total }}</h6></td>
            </tr>
        </table>
    </div>
</body>
{% endblock contenido %}